<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Smile | Responsive Bootstrap Ecommerce Template</title>

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico">

        <!-- Google Webfont -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!-- CSS -->
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
        <link rel="stylesheet" href="js/vendors/isotope/isotope.css">
        <link rel="stylesheet" href="js/vendors/slick/slick.css">
        <link rel="stylesheet" href="js/vendors/rs-plugin/css/settings.css">
        <link rel="stylesheet" href="js/vendors/select/jquery.selectBoxIt.css">
        <link rel="stylesheet" href="css/subscribe-better.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->

    </head>
    <body>

        <!-- PRELOADER -->
        <div id="loader"></div>

        <div class="body">
            <!-- TOPBAR -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tb_left pull-left">
                                <p>Welcome to our online store !</p>
                            </div>
                            <div class="tb_center pull-left">
                                <ul>
                                    <li><i class="fa fa-phone"></i> Hotline: <a href="#">(+800) 2307 2509 8988</a></li>
                                    <li><i class="fa fa-envelope-o"></i> <a href="#">online support@smile.com</a></li>
                                </ul>
                            </div>
                            <div class="tb_right pull-right">
                                <ul>
                                    <li>
                                        <div class="tbr-info">
                                            <span>Account <i class="fa fa-caret-down"></i></span>
                                            <div class="tbr-inner">
                                                <a href="my-account.html">My Account</a>
                                                <a href="#">My Wishlist</a>
                                                <a href="#">Checkout</a>
                                                <a href="#">Login</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tbr-info">
                                            <span><img src="images/basic/flag1.png" alt=""/>&nbsp;English <i class="fa fa-caret-down"></i></span>
                                            <div class="tbr-inner">
                                                <a href="#"><img src="images/basic/flag1.png" alt=""/>English</a>
                                                <a href="#"><img src="images/basic/flag2.png" alt=""/>French</a>
                                                <a href="#"><img src="images/basic/flag3.png" alt=""/>German</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tbr-info">
                                            <span>US Dollar <i class="fa fa-caret-down"></i></span>
                                            <div class="tbr-inner">
                                                <a href="#">&euro; Euro</a>
                                                <a href="#">&pound; Pound</a>
                                                <a href="#">&yen; Yen</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- HEADER -->
            <header>
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Logo -->
                                <a class="navbar-brand" href="./index.html"><img src="images/basic/logo.png" class="img-responsive" alt=""/></a>
                            </div>
                            <!-- Cart & Search -->
                            <div class="header-xtra pull-right">
                                <div class="topcart">
                                    <span><i class="fa fa-shopping-cart"></i></span>
                                    <div class="cart-info">
                                        <small>You have <em class="highlight">3 item(s)</em> in your shopping bag</small>
                                        <div class="ci-item">
                                            <img src="images/products/fashion/8.jpg" width="80" alt=""/>
                                            <div class="ci-item-info">
                                                <h5><a href="./single-product.html">Product fashion</a></h5>
                                                <p>2 x $250.00</p>
                                                <div class="ci-edit">
                                                    <a href="#" class="edit fa fa-edit"></a>
                                                    <a href="#" class="edit fa fa-trash"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ci-item">
                                            <img src="images/products/fashion/15.jpg" width="80" alt=""/>
                                            <div class="ci-item-info">
                                                <h5><a href="./single-product.html">Product fashion</a></h5>
                                                <p>2 x $250.00</p>
                                                <div class="ci-edit">
                                                    <a href="#" class="edit fa fa-edit"></a>
                                                    <a href="#" class="edit fa fa-trash"></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ci-total">Subtotal: $750.00</div>
                                        <div class="cart-btn">
                                            <a href="#">View Bag</a>
                                            <a href="#">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="topsearch">
                                    <span>
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <form class="searchtop">
                                        <input type="text" placeholder="Search entire store here.">
                                    </form>
                                </div>
                            </div>
                            <!-- Navmenu -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="./index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home</a>
                                        <ul class="dropdown-menu submenu" role="menu">
                                            <li><a href="./index.html">Home - Style 1</a>
                                            <li><a href="./index2.html">Home - Style 2</a>
                                            <li><a href="./index3.html">Home - Style 3</a>
                                            <li><a href="./index4.html">Home - Style 4</a>
                                            <li><a href="./index5.html">Home - Style 5</a>
                                        </ul>
                                    </li>
                                    <li class="dropdown mmenu">
                                        <a href="./categories-grid.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Women</a>
                                        <ul class="mega-menu dropdown-menu" role="menu">
                                            <li>
                                                <div>
                                                    <h5>Sample Title</h5>
                                                    <a href="#">Nam ipsum est</a>
                                                    <a href="#">Volutpat</a>
                                                    <a href="#">In efficitur in</a>
                                                    <a href="#">Accumsan eget <span class="mm-badge-sale">Sale</span></a>
                                                    <a href="#">Odio</a>
                                                    <a href="#">Curabitur</a>
                                                    <a href="#">Phasellus <span class="mm-badge-new">New</span></a>
                                                    <a href="#">Dapibus elit</a>
                                                    <a href="#">Nurna ullamcorper</a>
                                                    <a href="#">Lobortis</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h5>Sample Title</h5>
                                                    <a href="#">Nam ipsum est</a>
                                                    <a href="#">Volutpat</a>
                                                    <a href="#">In efficitur in</a>
                                                    <a href="#">Accumsan eget</a>
                                                    <a href="#">Odio</a>
                                                    <a href="#">Curabitur</a>
                                                    <a href="#">Phasellus</a>
                                                    <a href="#">Dapibus elit</a>
                                                    <a href="#">Nurna ullamcorper</a>
                                                    <a href="#">Lobortis</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h5>Sample Title</h5>
                                                    <a href="#">Nam ipsum est</a>
                                                    <a href="#">Volutpat</a>
                                                    <a href="#">In efficitur in</a>
                                                    <a href="#">Accumsan eget</a>
                                                    <a href="#">Odio</a>
                                                    <a href="#">Curabitur</a>
                                                    <a href="#">Phasellus</a>
                                                    <a href="#">Dapibus elit</a>
                                                    <a href="#">Nurna ullamcorper</a>
                                                    <a href="#">Lobortis</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="./categories-grid.html" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-expanded="false">Shop</a>
                                        <ul class="dropdown-menu submenu" role="menu">
                                            <li><a href="./categories-grid.html">Shop - Grid 1</a>
                                            <li><a href="./categories-list.html">Shop - Grid 2</a>
                                            <li><a href="./single-product.html">Shop - Single</a></li>
                                            <li><a href="./shoppingcart.html">Shopping Cart</a></li>
                                            <li><a href="./checkout.html">Checkout 1</a></li>
                                            <li><a href="./checkout-2.html">Checkout 2</a></li>
                                            <li><a href="./checkout-2-leftside.html">Checkout Left Sidebar</a></li>                                           
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog</a>
                                        <ul class="dropdown-menu submenu" role="menu">
                                            <li><a href="./blog.html">Blog Posts</a>
                                            <li><a href="./blog-single.html">Blog Single</a>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Get inspired</a>
                                        <ul class="dropdown-menu submenu" role="menu">
                                            <li><a href="#">Nam ipsum est</a>
                                            <li><a href="#">Volutpat</a>
                                            <li><a href="#">In efficitur in</a></li>
                                            <li><a href="#">Accumsan eget</a></li>
                                            <li><a href="#">Odio</a></li>
                                            <li><a href="#">Curabitur</a></li>
                                            <li><a href="#">Phasellus</a></li>
                                            <li><a href="#">Dapibus elit</a></li>
                                            <li><a href="#">Nurna ullamcorper</a></li>
                                            <li><a href="#">Lobortis</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Technology</a>
                                        <ul class="dropdown-menu submenu" role="menu">
                                            <li><a href="#">Nam ipsum est</a>
                                            <li><a href="#">Volutpat</a>
                                            <li><a href="#">In efficitur in</a></li>
                                            <li><a href="#">Accumsan eget</a></li>
                                            <li><a href="#">Odio</a></li>
                                            <li><a href="#">Curabitur</a></li>
                                            <li><a href="#">Phasellus</a></li>
                                            <li><a href="#">Dapibus elit</a></li>
                                            <li><a href="#">Nurna ullamcorper</a></li>
                                            <li><a href="#">Lobortis</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages</a>
                                        <ul class="dropdown-menu submenu" role="menu">                                         
                                            <li><a href="contact-1.html">Contact Style 1</a></li>
                                            <li><a href="contact-2.html">Contact Style 2</a></li>
                                            <li><a href="account-information.html"> Account Information </a></li>
                                            <li><a href="my-account.html">My Account</a></li>                                        
                                            <li><a href="cng-pw.html">Change Password</a></li>
                                            <li><a href="address-book.html">Address Books</a></li>
                                            <li><a href="order-history.html">Order History</a></li>
                                            <li><a href="review-rating.html">Reviews and Ratings</a></li>
                                            <li><a href="return.html">Returns Requests</a></li>
                                            <li><a href="newsletter.html">Newsletter</a></li>
                                            <li><a href="myaccount-leftsidebar.html">Left Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- BREADCRUMBS -->
            <div class="bcrumbs">
                <div class="container">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>

            <div class="space10"></div>

            <!-- MAIN CONTENT -->
            <div class="shop-single">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-smm-12">
                            <div class="redirect-login">
                                <i class="fa fa-edit"></i> &nbsp; &nbsp; <span> Returning customer? </span>
                                &nbsp; &nbsp;<a class="showlogin" href="login-page.html">Click here to login</a>
                            </div>
                        </div>

                        <div class="col-md-12 col-smm-12">
                            <div class="redirect-login">
                                <i class="fa fa-edit"></i> &nbsp; &nbsp; <span> Have a coupon? </span>
                                &nbsp; &nbsp;<a class="showlogin"  data-toggle="modal" href="#coupon-code">Click here to enter your code</a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="side-widget space50">
                                <h3> <span> Your order </span></h3>
                                <div>
                                    <table class="cart-table"> 
                                        <tbody></tbody>
                                        <tr>                                              
                                            <td>
                                                <div class="item-img col-md-5 col-sm-5">
                                                    <a href="#"><img src="images/products/fashion/5.jpg" class="img-responsive" alt=""/></a>
                                                </div>
                                                <div class="item-info col-md-7 col-sm-7">
                                                    <h4>Product fashion</h4>
                                                    <p>x2</p>
                                                    <p>Size: M</p>
                                                </div>
                                            </td>  
                                            <td>
                                                <a href="#"> <i class="fa fa-trash-o"></i> </a>
                                            </td>                                            
                                        </tr> 
                                        <tfoot>
                                            <tr>
                                                <th>Cart Subtotal</th>
                                                <td>
                                                    <div class="">$ 99.00</div>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <th>Shipping and Handling</th>
                                                <td>
                                                    <div class="">Free Shipping</div>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <th>Order Total</th>
                                                <td>
                                                    <div class="">$ 99.00</div>
                                                </td> 
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9 col-sm-8">
                            <!-- HTML -->
                            <div>
                                <h4 class="account-title"><span class="fa fa-chevron-right"></span>Checkout Method</h4>
                                <div class="account-form">
                                    <form id="shipping-zip-form">                                        
                                        <ul class="form-list row">
                                            <li class="col-md-12 col-sm-12">
                                                <label>Country <em>*</em></label>
                                                <select required>
                                                    <option value="">Country 1</option>
                                                    <option value="1">Country 2</option>
                                                    <option value="2">Country 3</option>
                                                </select>
                                            </li> 
                                            <li class="col-md-6 col-sm-6">
                                                <label>First Name <em>*</em></label>
                                                <input type="text" class="input-text" required>
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label>Last Name <em>*</em></label>
                                                <input type="text" class="input-text" required>
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Address 1 <em>*</em></label>
                                                <input required type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Address 2</label>
                                                <input type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Company Name</label>
                                                <input type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label>City</label>
                                                <select>
                                                    <option>City 1</option>
                                                    <option>City 2</option>
                                                    <option>City 3</option>
                                                </select>
                                            </li> 
                                            <li class="clearfix"></li>
                                            <li class="col-md-6 col-sm-6">
                                                <label>State</label>
                                                <select>
                                                    <option>State 1</option>
                                                    <option>State 2</option>
                                                    <option>State 3</option>
                                                </select>
                                            </li> 
                                            <li class="col-md-6 col-sm-6">
                                                <label >Zip/Postal Code <em>*</em></label>
                                                <input required type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Email <em>*</em></label>
                                                <input required type="text" class="input-text">
                                            </li>
                                            <li class="col-md-6 col-sm-6">
                                                <label >Phone Number <em>*</em></label>
                                                <input required type="text" class="input-text">
                                            </li>
                                            <li class="col-md-12 col-sm-12">
                                                <input id="create-act" type="checkbox" class="input-chkbox">
                                                <label> Create an account?</label>
                                            </li>
                                            <li class="col-md-12 col-sm-12 create-account">
                                                <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                                <label > Account password <em>*</em></label>
                                                <input required type="text" class="input-text">
                                            </li>
                                            <li class="col-md-12 col-sm-12">
                                                <input id="diff-address" type="checkbox" class="input-chkbox">
                                                <label> Ship to a different address?</label>
                                            </li>
                                            <li class="col-md-12 col-sm-12 shipping-address">
                                                <ul class="form-list row">
                                                    <li class="col-md-12 col-sm-12">
                                                        <label>Country <em>*</em></label>
                                                        <select required>
                                                            <option value="">Country 1</option>
                                                            <option value="1">Country 2</option>
                                                            <option value="2">Country 3</option>
                                                        </select>
                                                    </li> 
                                                    <li class="col-md-6 col-sm-6">
                                                        <label>First Name <em>*</em></label>
                                                        <input type="text" class="input-text" required>
                                                    </li>
                                                    <li class="col-md-6 col-sm-6">
                                                        <label>Last Name <em>*</em></label>
                                                        <input type="text" class="input-text" required>
                                                    </li>
                                                    <li class="col-md-6 col-sm-6">
                                                        <label >Address 1 <em>*</em></label>
                                                        <input required type="text" class="input-text">
                                                    </li>
                                                    <li class="col-md-6 col-sm-6">
                                                        <label >Address 2</label>
                                                        <input type="text" class="input-text">
                                                    </li>
                                                    <li class="col-md-6 col-sm-6">
                                                        <label >Company Name</label>
                                                        <input type="text" class="input-text">
                                                    </li>
                                                    <li class="col-md-6 col-sm-6">
                                                        <label>City</label>
                                                        <select>
                                                            <option>City 1</option>
                                                            <option>City 2</option>
                                                            <option>City 3</option>
                                                        </select>
                                                    </li> 
                                                    <li class="clearfix"></li>
                                                    <li class="col-md-6 col-sm-6">
                                                        <label>State</label>
                                                        <select>
                                                            <option>State 1</option>
                                                            <option>State 2</option>
                                                            <option>State 3</option>
                                                        </select>
                                                    </li> 
                                                    <li class="col-md-6 col-sm-6">
                                                        <label >Zip/Postal Code <em>*</em></label>
                                                        <input required type="text" class="input-text">
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="col-md-12 col-sm-12 transfer-wrap">
                                                <p>
                                                    <input id="direct-transfer" type="radio" name="optradio" class="input-chkbox">
                                                    <label> Direct Bank Transfer </label>
                                                </p>
                                                <div id="direct-transfer-msg" class="transfer-guide">
                                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                </div>
                                                <p>
                                                    <input id="cheque-transfer" type="radio" name="optradio" class="input-chkbox">
                                                    <label> Cheque Payment </label>
                                                </p>
                                                <div id="cheque-transfer-msg" class="transfer-guide">
                                                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                                <p>
                                                    <input id="paypal-transfer" type="radio" name="optradio" class="input-chkbox">
                                                    <label class="pay-pal"> PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"> 
                                                        <a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup', 'WIPaypal', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700');
                                                                return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                                                    </label>
                                                </p>
                                                <div id="paypal-transfer-msg" class="transfer-guide">
                                                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="buttons-set">
                                            <button class="btn-black" type="submit">Place Order</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>   
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="clearfix space20"></div>

            <!-- FOOTER -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 widget-footer">
                            <h5>About Store</h5>
                            <img src="images/basic/logo-lite.png" class="img-responsive space10" alt=""/>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
                            <div class="clearfix"></div>
                            <ul class="f-social">
                                <li><a href="https://www.facebook.com" class="fa fa-facebook"></a></li>
                                <li><a href="https://www.twitter.com" class="fa fa-twitter"></a></li>
                                <li><a href="https://feedburner.google.com" class="fa fa-rss"></a></li>
                                <li><a href="mailto:email@website.com" class="fa fa-envelope"></a></li>
                                <li><a href="https://www.pinterest.com" class="fa fa-pinterest"></a></li>
                                <li><a href="https://www.instagram.com" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 widget-footer">
                            <h5>Latest Tweets</h5>
                            <div class="tweet-info">
                                <div id="twitterfeed"></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 widget-footer">
                            <h5>Product tags</h5>
                            <ul class="widget-tags">
                                <li><a href="./categories-grid.html">fashion</a></li>
                                <li><a href="./categories-grid.html">sports</a></li>
                                <li><a href="./categories-grid.html">business</a></li>
                                <li><a href="./categories-grid.html">news</a></li>
                                <li><a href="./categories-grid.html">night</a></li>
                                <li><a href="./categories-grid.html">freedom</a></li>
                                <li><a href="./categories-grid.html">design</a></li>
                                <li><a href="./categories-grid.html">miracle</a></li>
                                <li><a href="./categories-grid.html">gallery</a></li>
                                <li><a href="./categories-grid.html">collection</a></li>
                                <li><a href="./categories-grid.html">pen</a></li>
                                <li><a href="./categories-grid.html">pants</a></li>
                                <li><a href="./categories-grid.html">jeans</a></li>
                                <li><a href="./categories-grid.html">photos</a></li>
                                <li><a href="./categories-grid.html">oscar</a></li>
                                <li><a href="./categories-grid.html">smile</a></li>
                                <li><a href="./categories-grid.html">love</a></li>
                                <li><a href="./categories-grid.html">sunshine</a></li>
                                <li><a href="./categories-grid.html">luxury</a></li>
                                <li><a href="./categories-grid.html">forever</a></li>
                                <li><a href="./categories-grid.html">inlove</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 widget-footer">
                            <h5>Newsletter</h5>
                            <p>Sign up for our newsletter and promotions</p>
                            <form class="newsletter">
                                <input type="text" placeholder="Enter your email address here.">
                                <button type="submit">Subscribe !</button>
                            </form>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- FOOTER COPYRIGHT -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="flinks">
                                <li><a href="./index.html">Site Map</a></li>
                                <li><a href="./index.html">Search Terms</a></li>
                                <li><a href="./index.html">Advanced Search</a></li>
                                <li><a href="./index.html">Orders and Returns</a></li>
                                <li><a href="./index.html">Customer Service</a></li>
                            </ul>
                            <br>
                            <p>Copyright 2015 &middot; Designed & Developed by <a href="#">jThemes Studio.</a> All rights reserved</p>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <img src="images/basic/payment.png" class="pull-right img-responsive payment" alt=""/>
                        </div>
                    </div>
                </div>
            </div>	

        </div>      

        <div id="backtotop"><i class="fa fa-chevron-up"></i></div>

        <!-- ============================== LOGIN MODAL ===================================== -->
        <div class="modal fade" id="coupon-code" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">                   
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <form class="shipping-info-wrap" id="discount-coupon-form">
                                    <div class="discount">
                                        <h2>Discount Codes</h2>
                                        <div class="form-list">
                                            <label for="coupon_code">Enter your coupon code if you have one.</label>
                                            <input type="hidden" value="0" id="remove-coupone" name="remove">
                                            <div class="input-box">
                                                <input value="" name="coupon_code" id="coupon_code" class="input-text">
                                            </div>
                                            <div class="buttons-set">
                                                <button class="btn-black" title="Apply Coupon" type="button"><span><span>Apply Coupon</span></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="js/jquery.js"></script>

        <!-- ADDTHIS -->
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-557a95e76b3e51d9" async="async"></script>
        <script type="text/javascript">
                                                    // Call this function once the rest of the document is loaded
                                                    function loadAddThis() {
                                                        addthis.init()
                                                    }
        </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bs-navbar.js"></script>
        <script src="js/vendors/isotope/isotope.pkgd.js"></script>
        <script src="js/vendors/slick/slick.min.js"></script>
        <script src="js/vendors/tweets/tweecool.min.js"></script>
        <script src="js/vendors/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="js/vendors/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.subscribe-better.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="js/vendors/select/jquery.selectBoxIt.min.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>