a {
	color: #2eafbb;
}

.nav li a:hover {
	color: #2eafbb;
}

.header-xtra span:hover {
	background: #2eafbb;
}

.topsearch:hover span {
	background: #2eafbb;
}

.product-title a:hover {
	color: #2eafbb;
}

.product-overlay a:hover {
	background: #2eafbb;
}

.post-excerpt h4 a:hover {
	color: #2eafbb;
}

.overlay-rmore {
	background-color: #2eafbb;
	border-color: #2eafbb;
}

.quote-info cite {
	color: #2eafbb;
}

.newsletter button {
	background: #2eafbb;
}

.tb_center ul li {
	color: #2eafbb;
}

.tbr-inner a:hover {
	background: #2eafbb;
	border-bottom: 1px solid #2eafbb;
}

.topcart:hover span {
	background: #2eafbb;
}

.cart-info small em {
	color: #2eafbb;
}

.ci-item-info h5 a:hover {
	color: #2eafbb;
}

.cart-btn a {
	background: #2eafbb;
}

.cart-btn a:first-child:hover {
	background: #2eafbb;
}

.tpc-info h4 a:hover {
	color: #2eafbb;
}

#policy3 .pi-wrap i {
	color: #2eafbb;
}

#home2 .home-carousel .slick-next:hover ,
#home2 .home-carousel .slick-prev:hover {
	background: #2eafbb;
}

#home2 .topcart:hover span,
#home2 .topcart span:hover {
	color: #2eafbb;
}

.filter-wrap .col-md-3 a.active {
	color: #2eafbb;
}

.share a:hover {
	background: #2eafbb;
}

.addtobag {
	background: #2eafbb;
}

.btn-black:hover {
	background: #2eafbb;
}

.btn-color {
	background: #2eafbb;
}

.new {
	background: #2eafbb;
}

.promo-panel-text {
	color: #2eafbb;
}

#popup-newsletter .block-content button:hover {
	background: #2eafbb;
}

#header4 .header-xtra span:hover {
	background: #2eafbb !important;
}

#home5 .topcart:hover span,
#home5 .topcart span:hover {
	color: #2eafbb !important;
}

#backtotop:hover {
	background-color: #2eafbb;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover {
	background: #2eafbb;
}

.mm-badge-new {
	background: #2eafbb;
}

.ss-color {
	color: #2eafbb !important;
}

.ss-bg-color {
    background-color: #2eafbb !important;
}

.overlay-rmore {
    background-color: #2eafbb;
    border-color: #2eafbb;
}

.cart-table tr td h4 a:hover, .cart-table tr td h4 a:focus, .side-widget .cart-table td a:hover, 
.side-widget .cart-table td a:focus, .side-widget .cart-table td a:hover, .side-widget .cart-table td a:focus{
    color: #2eafbb;
}
.account-list li a:hover, .account-list li a:focus, .account-list li.active a,
.details-box ul li a:hover,  .details-box ul li a:focus{
    color: #2eafbb;
}
.bcrumbs ul li a:hover, .bcrumbs ul li a:focus{
    color: #2eafbb;
}